<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/user/blueimp-gallery.min.css">
</head>
<body>
<div th:replace="~{header :: nav}"></div>

<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div id="links">
    <a th:each="url:${picUrl}" th:href="${url.big}" title="Banana">
        <!-- <a href="img/error.png" title="Banana"> -->
        <img th:src="${url.small}" alt="Banana">
    </a>


    <a href="http://img.tianzijiaozi.top/1-o_1ddemi41f1oadlnb1q5l1smq9ldf?e=1560667744&token=xP26v6i5ZX5ricklajjShhW9Jjc20X-PKc9X9MOW:u3VmWzTFh3h3LBtsNTcyyYkClCQ=" title="Banana">
        <!-- <a href="img/error.png" title="Banana"> -->
        <img src="http://img.tianzijiaozi.top/1-o_1ddemi41f1oadlnb1q5l1smq9ldf@photo750?e=1560667744&token=xP26v6i5ZX5ricklajjShhW9Jjc20X-PKc9X9MOW:_7DJ5J4MfjdID2Aq86VXmq8MQRg=" alt="Banana">
    </a>
    <a href="http://img.tianzijiaozi.top/1-o_1ddemi41f18i31nd21hse1a7u11bdd?e=1560667744&token=xP26v6i5ZX5ricklajjShhW9Jjc20X-PKc9X9MOW:tIg1xwSmIu9WtwcmDq7P_hhJ-ZQ=" title="Banana">
        <!-- <a href="img/error.png" title="Banana"> -->
        <img src="http://img.tianzijiaozi.top/1-o_1ddemi41f18i31nd21hse1a7u11bdd@photo750?e=1560667744&token=xP26v6i5ZX5ricklajjShhW9Jjc20X-PKc9X9MOW:-laMJ74RBFQPszoGRDWVeI7L52w=" alt="Banana">
    </a>
    href="http://img.tianzijiaozi.top/1-o_1ddemi41f1oadlnb1q5l1smq9ldf?e=1560662214&token=xP26v6i5ZX5ricklajjShhW9Jjc20X-PKc9X9MOW:UjZ9cgXDDHu1Jq89Lhe3FSzGtlI="
</div>
<!--<script src="../js/user/jquery.blueimp-gallery.min.js"></script>
<script src="../js/user/blueimp-gallery.min.js"></script>-->
<script th:inline="javascript">
    var urls = "";
    $(function(){
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };

        $.ajax({
            url:'/qiniu/getPicUrl',
            type:'put',
            // contentType: "application/json;charset=UTF-8",
            dataType:'json',
            headers:{
                "Authorization":token
            },
            success:function(result) {
                if(result.status==0){
                    console.info(result.data);
                    // $('#links').addChild
                }else {
                    alert(result.msg)
                }
            }
        });
    });
    var userId = [[${userId}]];
    console.log("userId:"+userId);
</script>
</body>
</html>