<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--如果使用RTL（从右到左）方向，请在fileinput.css之后加载RTLCSS文件，方法是在下面取消注释-->
    <!--link href=”https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput-rtl.min.css“ media=”all“ rel=”stylesheet“ type=”text/css“/-->
    <title>登录</title>
</head>

<body style="background-color: #f1f1f1; padding-bottom: 0;margin-top: 60px;">

<div th:replace="~{header :: nav}"></div>

<div class="container" style="margin-top: 60px">




    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="userinfo" style="text-align: center; margin-top: 10%">
            <img src="http://upload.jianshu.io/users/upload_avatars/3424642/fb55f16faaf6.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/240/h/240" alt="avatar" class="img-circle" style="margin: 0 auto">
            <p th:text="${username}" style="margin-top: 25px; font-size: 20; color: crimson">Anoy</p>
        </div>
        <div class="tab-pane fade in" id="updatePwd">
            <form th:action="@{/user/pwd}" method="post" class="form-horizontal" role="form">
                <!--<div class="form-group" style="display: none">
                    <input id="id" type="hidden" name="id" th:value="${userId}"/>
                    <input type="hidden" name="_method" th:value="put"/>
                    <input id="username" type="hidden" th:value="${username}"/>
                </div>-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">原密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="pwd" placeholder="请输入原密码">
                        <div style="display: none" class="alert alert-danger warningpwd">错误！请进行一些更改。</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">新密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="newpwd" placeholder="请输入新密码">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">再次输入新密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="aginpwd" name="password" placeholder="请再次输入新密码">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 submit1">
                        <button type="button" onclick="changePwd()" class="btn btn-default">确认修改</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="updateUserInfo">
            <div class="form-horizontal" id="userInfoContent">
<!--                <input type="text" id="infoId" style="display: none">-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">email 地址</label>
                    <div class="col-sm-10">
                        <span id="emailValue"></span>
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#bandingEmail">
                            绑定邮箱
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">昵称</label>
                    <div class="col-sm-10">
                        <input type="input" class="form-control" id="nickName" placeholder="请输入昵称">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-10">
                        <select id="gender" class="form-control">
                            <option value="0">男</option>
                            <option value="1">女</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">省份</label>
                    <div class="col-sm-10">
                        <input type="text" id="province" data-toggle="city-picker"  readonly >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">出生日期</label>
                    <div class="col-sm-10">
                        <div class='input-group date'>
                            <input type='text' id="birthday" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-sm-2 control-label">上传头像</label>
                        <div class="col-sm-10">
                            <input type="text" id="avatar" style="display: none">
<!--                            <input id="uploadAvatar" type="file" class="file" data-preview-file-type="text">-->
                            <input type="file" name="image" id="file" accept="image/*">
                            <input type="button" id="uploadAvatar" onclick="uploadAvatar()" value="开始上传">
                            <img id="image" src="#" style="display: none" alt="">
                        </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 submit1">
                        <button type="button" onclick="userInfo()" class="btn btn-default">确认修改</button>
                    </div>
                </div>
            </div>

            <!-- 模态框（Modal）绑定邮箱 -->
            <div class="modal fade" id="bandingEmail" tabindex="-1" role="dialog" aria-labelledby="bandingEmailTitle" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"aria-hidden="true">×</button>
                            <h4 class="modal-title" id="bandingEmailTitle">
                                绑定邮箱
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">邮箱</label>
                                    <div class="col-sm-10">
                                        <input type="input" class="form-control" id="email" placeholder="请输入邮箱">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <button type="button" id="emailSendBtn" onclick="emailSend()" class="btn btn-default">发送验证码</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">验证码</label>
                                    <div class="col-sm-10">
                                        <input type="input" class="form-control" id="emailCode" placeholder="请输入验证码">
                                        <div style="display: none" class="alert alert-danger warningEmail">错误！请进行一些更改。</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" onclick="saveorupdateEmail()" class="btn btn-primary">提交更改</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
        <div class="tab-pane fade" id="jmeter">
            <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
        </div>
        <div class="tab-pane fade" id="ejb">
            <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
            </p>
        </div>
    </div>

</div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var id = [[${userId}]];

    $(function () {

        $(".userDropdown").mouseover(function () {
            $(this).addClass("open");
        });
        $(".userDropdown").mouseleave(function(){
            $(this).removeClass("open");
        });

        if (id!=null) {
            setCookie("id",id);
        }else {
            id = getCookie("id");
        }

        getUserInfo();


    });
    console.info("id:"+id);
    var isChecked = false;
    function check(){
        return true;
    }

    function getUserInfo(){
        // var param=[];
        var data = {"userId":id};
        $.ajax({
            url:[[@{/userInfo}]],
            type:"get",
                // contentType: "application/json;charset=UTF-8",
            dataType:'json',
            data:data,
            success:function(result) {
                if (result.data!=null){
                    $("#userInfoContent").attr("methodType","PUT");
                    // $("#infoId").val(result.data.id);
                    $("#email").val(result.data.email);
                    $("#emailValue").text(result.data.email);
                    $("#nickName").val(result.data.nickName);
                    $("#gender").val(result.data.gender);
                    $("#province").val(result.data.province);
                    $("#birthday").val(result.data.birthday);
                    if (result.data.avatar!=null){
                        var url = result.data.avatar +"_avatar"
                        $(".img-circle").attr("src",url);
                    }
                    console.info(result.data);
                }else {
                    $("#userInfoContent").attr("methodType","POST");
                }
            }
        });
    }

    $("#pwd").blur(function(){
        var param = {"password":$("#pwd").val(),"username":[[${username}]] };
        $.ajax({
            url:[[@{/user/checkpwd}]],
            type:"post",
                dataType:'json',
                data:param,
                success:function(result){
                if (result.status==1){
                    $(".warningpwd").text(result.msg);
                    $(".warningpwd").show();
                    $(".submit1").disabled();
                }else if(result.status==0){
                    if (result.data) {
                        $(".warningpwd").hide();
                        $(".submit1").show();
                    }else {
                        $(".warningpwd").text(result.msg);
                        $(".warningpwd").show();
                        $(".submit1").hide();

                    }

                }
            }
        });
    });

    $("#emailCode").blur(function(){
        var emailCode = $("#emailCode").val();
        if (emailCode!=null&&emailCode!=undefined&&emailCode!=''){
            var param = {"emailCode":$("#emailCode").val(),"userId":id };
            $.ajax({
                url:'/userInfo/emailCheck',
                type:"GET",
                dataType:'json',
                data:param,
                success:function(result){
                    if (result.status==1){
                        $(".warningEmail").show();
                    }else if(result.status==0){
                        $(".warningEmail").hide();
                    }
                }
            });
        }
    });

    function emailSend(){
        var param = {"email":$("#email").val(),"id":id,"nickName":[[${username}]]};
        $.ajax({
            url:'/userInfo/emailSend',
            type:"GET",
            dataType:'json',
            data:param,
            success:function(result){
                if (result.status==1){
                    alert(result.msg);
                }else if(result.status==0){
                    $("emailSendBtn").attr("disable","");
                    alert("发送成功，请到您的邮箱中查收验证码");
                }
            }
        });
    }

    function saveorupdateEmail(){
        var param = {"email":$("#email").val(),"id":id,"nickName":[[${username}]] };
        $.ajax({
            url:'/userInfo/saveOrUpdateEmail',
            type:"post",
            dataType:'json',
            data:param,
            success:function(result){
                if (result.status==1){
                    alert(result.msg);
                }else if(result.status==0){

                    $('#emailValue').text(param.email);
                    alert("绑定成功");
                    $('#bandingEmail').modal('hide');
                }
            }
        });
    }


    function changePwd() {
        if (check()==true){
            // var param = {"_method":"put","id":$("#id").val(),"password":$("#newpwd").val(),"username":$("#id").val(),"oldPwd":$("#pwd").val()};
            var param = {"id":id,"password":$("#newpwd").val(),"username":[[${username}]],"oldPwd":$("#pwd").val()};
            $.ajax({
                url:[[@{/user/pwd}]],
                type:"put",
                dataType:'json',
                data:param,
                success:function(result){
                    console.info(result);

                }
            });
        }
    }

    $('#birthday').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: moment.locale('zh-cn')
    });

    function userInfo() {
        // var param=[];
        var data = {};
        data["id"]= id;
        if ($("#emailValue").text()!=""){
            data["email"] = $("#emailValue").text();
        }
        if ($("#nickName").val()!=""){
            data["nickName"] = $("#nickName").val();
        }else {
            alert("昵称不能为空");
        }
        if ($("#gender").val()!=""){
            data["gender"] = $("#gender").val();
        }
        if ($("#province").val()!=""){
            data["province"] = $("#province").val();
        }
        if ($("#birthday").val()!=""){
            data["year"] = $("#birthday").val();
        }
        if ($("#avatar").val()!=""){
            data["avatar"] = $("#avatar").val();
        }

        var methodType = $("#userInfoContent").attr("methodType");
        if (methodType!=undefined&&methodType!=null){
            $.ajax({
                url:'/userInfo/saveorupdate',
                type:'post',
                contentType: "application/json;charset=UTF-8",
                dataType:'json',
                data:JSON.stringify(data),
                success:function(result) {
                    if(result.status==0){
                        alert("成功");
                    }else {
                        alert(result.msg)
                    }
                }
            });
        }

    }
    
    function uploadAvatar() {
        var obj = $("#file");
        var fileName = obj.val();		                                           //上传的本地文件绝对路径
        // var suffix = fileName.substring(fileName.lastIndexOf("."),fileName.length);//后缀名
        var file = obj.get(0).files[0];	                                           //上传的文件
        var size = file.size > 1024 ? file.size / 1024 > 1024 ? file.size / (1024 * 1024) > 1024 ? (file.size / (1024 * 1024 * 1024)).toFixed(2) + 'GB' : (file.size
            / (1024 * 1024)).toFixed(2) + 'MB' : (file.size / 1024).toFixed(2) + 'KB' : (file.size).toFixed(2) + 'B';		   //文件上传大小
        //七牛云上传
        $.ajax({
            type:'get',
            url: "/qiniu/avatar",
            data:{"bucketName":'pub'},
            // dataType:'json',
            success: function(result){
                if(result.status == 0){
                    var observer = {                         //设置上传过程的监听函数
                        next(res){                        //上传中(result参数带有total字段的 object，包含loaded、total、percent三个属性)
                            Math.floor(res.total.percent);//查看进度[loaded:已上传大小(字节);total:本次上传总大小;percent:当前上传进度(0-100)]
                        },
                        error(err){                          //失败后
                            alert(err.message);
                        },
                        complete(res){                       //成功后
                            // ?imageView2/2/h/100：展示缩略图，不加显示原图
                            // ?vframe/jpg/offset/0/w/480/h/360：用于获取视频截图的后缀，0：秒，w：宽，h：高
                            $("#image").attr("src",result.data.url+"_avatar");
                            $("#image").show();
                            $("#avatar").val(result.data.url);

                        }
                    };
                    var putExtra = {
                        fname: "",                          //原文件名
                        params: {},                         //用来放置自定义变量
                        mimeType: [] //限制上传文件类型
                    };
                    var config = {
                        region:qiniu.region.z0,             //存储区域(z0:代表华东;z2:代表华南,不写默认自动识别)
                        concurrentRequestLimit:3            //分片上传的并发请求量
                    };
                    console.info("**"+result.data.token);
                    var observable = qiniu.upload(file,[[${userId}]],result.data.token,putExtra,config);
                    if (file.size<5242880) {
                        var subscription = observable.subscribe(observer);          // 上传开始
                    }else {
                       alert("照片大小必须在5M以内");
                    }

                    // 取消上传
                    // subscription.unsubscribe();
                }else{
                    alert(result.message);                  //获取凭证失败
                }
            },error:function(){                             //服务器响应失败处理函数
                alert("服务器繁忙");
            }
        });
    }

    // function address(){
    //     console.info("##"+$('#province').val())
    // }

    // //上传头像
    // $("#uploadAvatar").fileinput({
    //     language:'zh',                                          // 多语言设置，需要引入local中相应的js，例如locales/zh.js
    //     theme: "explorer-fa",                               // 主题
    //     uploadUrl: [[@{/user/pwd}]],         // 上传地址
    //     minFileCount: 1,                                        // 最小上传数量
    //     maxFileCount: 1,                                        // 最大上传数量
    //     overwriteInitial: false,                        // 覆盖初始预览内容和标题设置
    //     showCancel:false,                                       // 显示取消按钮
    //     showZoom:false,                                         // 显示预览按钮
    //     showCaption:false,                                  // 显示文件文本框
    //     dropZoneEnabled:false,                          // 是否可拖拽
    //     uploadLabel:"上传附件",                         // 上传按钮内容
    //     browseLabel: '选择附件',                            // 浏览按钮内容
    //     showRemove:false,                                       // 显示移除按钮
    //     browseClass:"layui-btn",                        // 浏览按钮样式
    //     uploadClass:"layui-btn",                        // 上传按钮样式
    //     uploadExtraData: {'taskId':1,'createBy':2,'createByname':3},   // 上传数据
    //     hideThumbnailContent:true,                  // 是否隐藏文件内容
    //     fileActionSettings: {                               // 在预览窗口中为新选择的文件缩略图设置文件操作的对象配置
    //         showRemove: true,                                   // 显示删除按钮
    //         showUpload: true,                                   // 显示上传按钮
    //         showDownload: false,                            // 显示下载按钮
    //         showZoom: false,                                    // 显示预览按钮
    //         showDrag: false,                                        // 显示拖拽
    //         removeIcon: '<i class="fa fa-trash"></i>',   // 删除图标
    //         uploadIcon: '<i class="fa fa-upload"></i>',     // 上传图标
    //         uploadRetryIcon: '<i class="fa fa-repeat"></i>'  // 重试图标
    //     },
    //
    //     initialPreview: [                                                                   //初始预览内容
    //         "https://picsum.photos/1920/1080?image=101",
    //         "https://picsum.photos/1920/1080?image=102",
    //         "https://picsum.photos/1920/1080?image=103"
    //     ],
    //     initialPreviewConfig: [                                                     // 初始预览配置 caption 标题，size文件大小 ，url 删除地址，key删除时会传这个
    //         {caption: "picture-1.jpg", size: 329892, width: "120px", url: [[@{/user/pwd}]], key: 101},
    //         {caption: "picture-2.jpg", size: 872378, width: "120px", url: [[@{/user/pwd}]], key: 102},
    //         {caption: "picture-3.jpg", size: 632762, width: "120px", url: [[@{/user/pwd}]], key: 103}
    //     ]
    // });
    // // 上传成功回调
    // $("#input-ke-2").on("filebatchuploadcomplete", function() {
    //     layer.msg("上传附件成功");
    //     setTimeout("closeUpladLayer()",2000)
    // });
    // // 上传失败回调
    // $('#input-ke-2').on('fileerror', function(event, data, msg) {
    //     layer.msg(data.msg);
    //     // tokenTimeOut(data);
    // });


    /*]]>*/
</script>

</body>

</html>
